html {
    height: 100%;
}

body {
    margin: 0px;
    position: relative;
    min-height: 100%;
}

.button0 {
    background-color: rgb(23, 182, 96);
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    height: 25px;
    width: 100px;
    border-radius: 5px;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.button1 {
    background-color: rgb(5, 233, 226);
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    height: 25px;
    width: 100px;
    border-radius: 5px;
    margin-left: 10px;
    transition: background-color 1s;
}

.button1:hover{
    background-color: rgb(20, 148, 182);
}

.button2 {
    background-color: rgb(236, 22, 131);
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin-left: 10px;
    height: 25px;
    width: 100px;
    border-radius: 5px;
    transition: background-color 1s;
}

.button2:hover{
    background-color: rgb(170, 20, 189);
}

.button3 {
    background-color: rgb(229, 255, 25);
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    height: 25px;
    width: 100px;
    border-radius: 5px;
    margin-left: 10px;
    transition: background-color 1s;
}

.button3:hover{
    background-color: rgb(247, 93, 6);
}

.white {
    color: white;
    text-decoration: none;
}

img {
    margin: auto;
    display: block;
    border-radius: 25%;
    padding-top: 30px;
    padding-bottom: 30px;
}

#navbar {
    margin: auto;
    width: 700px;
}

header {
    background-color: black;
    text-align: center;
    font-size: 30px;
}

h1 {
    color: white;
    margin-top: 0px;
    margin-bottom: 30px;
    font-family: "Georgia",serif;
}

footer {
    position: absolute;
    bottom: 10px;
    left: 0px;
    right: 0px;
    clear: both;
    color: grey;
    text-align: center;
}
